body {
    font-family: Arial,sans-serif;
}

.fa-house , .fa-right-to-bracket, .fa-comments, .fa-circle-info, .fa-envelope {
    color: orange;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

/*Smanjiti dropdown menu da ne uzima pol ekrana (close but no cigar)*/

